.ios, .md {

	page-home {

		.homePage {
			background-color: color($colors, secondary);
		}

	}

	.title {
		font-size: 0.95em !important;
		font-weight: bold;
	}

	.inscritos {
		font-style: italic;
	}

	.btnOkCancel {
		width: 150px !important;
	}

}

.ios {
	.iconPower {
		margin-right: 5px;
	}

	.iconInfo {
		margin-left: 5px;
	}

	ion-card {
  		margin-bottom:-20px !important;
	}

	.btnSee {
		margin-right: 10px;
		color: white;
		font-size: 2em !important;
	}
}

.md {
	.iconInfo {
		margin-right: 5px;
	}

	.iconPower {
		margin-right: 5px;
	}

	.btnSee {
		margin-right: 10px;
		color: white;
	}
}

.toastStyle {
	text-align:center;
}